Django==4.2.1
djangorestframework==3.14.0
django-cors-headers==4.0.0
django-filter==23.2
psycopg==3.1.9
channels==4.0.0
channels-redis==4.1.0
Pillow==9.5.0
celery==5.2.7
redis==4.5.5
django-treebeard==4.7
