Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-filter==23.4
psycopg==3.1.13
channels==4.0.0
channels-redis==4.1.0
Pillow==10.1.0
celery==5.3.6
redis==5.0.1
django-treebeard==4.7
django-guardian==2.4.0
